<!DOCTYPE html>
<html>
   <head>
      <title><%= title %></title>
      <link rel="stylesheet" href="/style.css" />
   </head>
   <body>
      <header><h1 class="board-title">Welcome to the <%= title %></h1></header>
      <section class="board_container">
         <div class="messages_container">
            <% messages.forEach(message=> { %>
            <div class="message-container">
               <p>Name: <%= message.username %></p>
               <p>Posted on: <%= message.added.toLocaleString('en-US') %></p>
               <p>Message: <%= message.text %></p>
               <a href="/message/<%=message.id%>">View</a>
            </div>
            <% }) %> <% if (messages.length == 0) {%>
            <p>No messages to display</p>
            <%}%>
            <a href="/new" class="form_link">Create new post</a>
         </div>
      </section>
   </body>
</html>
