<!DOCTYPE html>
<html>
   <head>
      <title><%= title %></title>
      <link rel="stylesheet" href="/style.css" />
   </head>
   <body>
      <header><h1 class="board_title">Welcome to the <%= title %></h1></header>
      <section class="board_container">
         <div class="messages_container">
            <% messages.forEach(user=> { %>
            <div class="message_container">
               <p>Name: <%= user.user %></p>
               <p>Posted on: <%= user.added %></p>
               <p>Message: <%= user.text %></p>
            </div>
            <% }) %>
            <a href="/new" class="form_link">Create new post</a>
         </div>
      </section>
   </body>
</html>
